@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

* {
    font-family: Montserrat, sans-serif;
}

:root {
    /* --dark-color-1: #222831;
    --dark-color-2: #393E46;
    --light-color-1: #EEEEEE;
    --light-color-2: #D65A31; */
    /* --dark-color-1: #2D3435;
    --dark-color-2: #446965;
    --light-color-1: #EDEAB5;
    --light-color-2: #F09915; */
    --dark-color-1: #3D1200;
    --dark-color-2: #692000;
    --dark-color-3: #000000;
    --light-color-1: #EEEEEE;
    /* --light-color-2: #80838F; */
}

body {
    width: 100%;
    height: 100%;
    background: var(--dark-color-1);    
    background: linear-gradient(0deg, var(--dark-color-3), var(--dark-color-2));
    color: var(--light-color-1);
    margin: 0;
}

h2 {
    margin: 0;
    font-size: large;
}

p {
    margin: 0;
}

input {
    all: unset;
}

.wrapper {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    text-align: center;
}

#search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin: 75px 0 50px;
}

#searchInput {
    border-radius: 10px;
    border: var(--light-color-1) solid 2px;
    color: var(--light-color-1);
    text-align: center;
    font-size: 1.5em;
    width: 345px;
    max-width: calc(100% - 60px);
}

#nearRhymeBtn, #backToRhymeBtn {
    background: none;
    color: var(--light-color-1);
    border: var(--light-color-1) solid 2px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 10px;
}

#searchInput::placeholder {
    color: #f0f0f0;
    opacity: 1;
    /* Firefox */
}

#searchInput:focus::placeholder {
    color: transparent;
}

#searchInput:-webkit-autofill {
    background: none !important;
}

#result {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 10px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.section h2 {
    font-size: 1.1em;
}

.section p {
    font-size: 0.9em;
    font-weight: 100;
}

#searchInput::-webkit-search-cancel-button {
    position: relative;
    right: 0px;
    /* transition: margin 0.2s; */
}

.tabs {
    margin: 0 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.tab {
    flex-grow: 1;
    height: 50px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    place-content: center;
}

.tab.active {
    background: var(--dark-color-2);
    box-shadow: 0px 4px 4px 0px #00000085;
}

.content {
    background: var(--dark-color-2);
    border-radius: 0 0 10px 10px;
    min-height: 100px;
    margin: 0 30px 0;
    max-height: calc(100% - 265px);
    overflow-y: auto;
    box-shadow: 0px 4px 4px 0px #00000085;
    z-index: 1;
    position: relative;
}
/* light backdrops only
input[type="search"]:focus::-webkit-search-cancel-button,
input[type="search"]:hover::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 12px;
    background:
      linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#000 45%,#000 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
      linear-gradient(135deg, transparent 0%,transparent 43%,#000 45%,#000 55%,transparent 57%,transparent 100%);
  }
   */
/* dark backdrops only */
input[type="search"][class="dark"]:focus::-webkit-search-cancel-button,
input[type="search"][class="dark"]:hover::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 12px;
    background: var(--light-color-1);
    background:
        linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, var(--light-color-1) 45%, var(--light-color-1) 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(135deg, transparent 0%, transparent 43%, var(--light-color-1) 45%, var(--light-color-1) 55%, transparent 57%, transparent 100%);
}