#menuBtn {
  color: var(--light-color-1);
  font-size: 1.75em;
}

.notesTitle {
  align-self: start;
  margin: 0 50px 10px;
  font-size: 1.5em;
}

.notes {
  border: var(--light-color-1) solid 2px;
  border-radius: 10px;
  width: calc(100% - 100px);
  height: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px 25px;
  box-sizing: border-box;
  line-break: anywhere;
  font-size: 1em;
}

.notes:focus {
  outline: none;
}

.notes:empty {
  line-height: 90%;
}

.menu-container {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.39, 0.4, 0.09, 0.97);
}

.menu-sliders {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.39, 0.4, 0.09, 0.97);
  background: var(--dark-color-1);
}

.plus-btn-pos {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}


body.menu-open .menu-sliders {
  transform: translateX(0%);
}

body.menu-open .menu {
  transform: translateY(0%);
  pointer-events: all;
}